<!DOCTYPE html>
<html lang="en">
{{> head }}

<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        {{> navigation }}
        
        <!-- Page content-->
        <section class="py-5">
            <div class="container px-5">
                <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center mb-5">
                                <h1 class="fw-bolder">Manage Events</h1>
                            </div>
                            <div>
                                {{#if events.length}}
                                    <ul class="list-group">
                                        {{#each events as |event|}}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <span>{{event.name}} - {{event.date}} - {{event.time}}</span>
                                                <div>
                                                    <a href="/editEvent/{{event._id}}" class="btn btn-warning btn-sm">Edit</a>
                                                    <a href="/deleteEvent/{{event._id}}" class="btn btn-danger btn-sm">Delete</a>
                                                </div>
                                            </li>
                                        {{/each}}
                                    </ul>
                                {{else}}
                                    <p>No events found.</p>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {{> footer }}

    <!-- Bootstrap core JS-->
    <!-- Core theme JS-->
    {{> script }}
</body>
</html>
