<h1>Delete Event</h1>
<p>Are you sure you want to delete the following event?</p>
<p>Title: {{event.title}}</p>
<p>Date: {{event.date}}</p>
<p>Location: {{event.location}}</p>
<p>Description: {{event.description}}</p>
<form action="/delete-event/{{event._id}}" method="post">
  <button type="submit">Yes, Delete</button>
  <a href="/private-events">No, Go Back</a>
</form>
