<h1>Edit Event</h1>
<form action="/edit-event/{{event._id}}" method="post">
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="{{event.title}}" required>
  </div>
  <div>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" value="{{event.date}}" required>
  </div>
  <div>
    <label for="location">Location:</label>
    <input type="text" id="location" name="location" value="{{event.location}}" required>
  </div>
  <div>
    <label for="description">Description:</label>
    <textarea id="description" name="description" required>{{event.description}}</textarea>
  </div>
  <button type="submit">Edit Event</button>
</form>
