<h2>Upcoming Events</h2>
{{#if events}}
    <div class="row">
        {{#each events}}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="{{image}}" class="card-img-top" alt="{{title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{description}}</p>
                        <p><strong>Date:</strong> {{date}}</p>
                        <p><strong>Location:</strong> {{location}}</p>
                        <a href="/events/{{_id}}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{else}}
    <p>No events available at the moment. Please check back later!</p>
{{/if}}
