<ul>
    {{#each events}}
        <li>
            <strong>{{this.title}}</strong> - {{this.date}} at {{this.location}}<br>
            {{this.description}}<br>
            {{#if this.filePath}}
                <a href="{{this.filePath}}" download>Download Attachment</a>
            {{/if}}<br>
            <a href="/events/edit/{{this._id}}">Edit</a> | 
            <a href="/events/delete/{{this._id}}" onclick="return confirm('Are you sure you want to delete this event?')">Delete</a>
        </li>
    {{else}}
        <p>No events available.</p>
    {{/each}}
</ul>
<a href="/">Back to Home</a>
